.root {
     -fx-background-image: url("../images/back.jpg");
}

.buttonCSS{
	-fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-text-fill: #fff;
    -fx-background-color: linear-gradient(#61a2b1, #2A5058);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

.labelCSS{
	-fx-text-fill: #61a2b1;
}